<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <% if (user) { %>
    <h1>Welcome to iPantry, <%= user.username %>!</h1>
    <p>
      <a href="/users/<%= user._id %>/foods">Go to My Pantry</a>
    </p>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <h1>Welcome to iPantry, guest.</h1>
    <p>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/sign-in">Sign in</a>.
    </p>
  <% } %>
</body>
</html>
